

Body
{
	 background-color: rgba(231, 152, 158, 0.30000001192092896);
}
.card 
{
	 display: flex;
	 flex-wrap:nowrap;
	 justify-content: center;
	 width: 500px;
	 height: 400px;
	 margin: auto;
	 margin-top:50px;
	 margin-bottom: 70px;
	 border-radius: 20px;
       
}
.card .image
{
	 flex-basis: 50%;
	 background:url('images/image-product-desktop.jpg');
	 background-size: cover;
	 background-repeat:no-repeat;
	 background-position: center center;
	 -webkit-border-radius:10px 0px 0px 10px;
  -moz-border-radius:10px 0px 0px 10px;

}
.card .content
{
	 flex-basis: 50%;
	 background-color: whitesmoke;
	 padding: 20px;
	 -webkit-border-radius:0px 10px 10px 0px;
  -moz-border-radius:0px 10px 10px 0px;
}


@media only screen and (max-width: 375px)
{

	.card 
     {
	 display: flex;
	 flex-wrap:wrap;
	 justify-content: center;
	 width: 100%;
	 height: 800px;
	 margin: auto;
	 margin-top: 150px;
	 border-radius: 20px;
       
    }


	.card .image
    {
	 flex-basis: 100%;
	 background:url('images/image-product-mobile.jpg');
	 height:100%;
	 width: 686px;
	 height: 480px;
	 background-size: cover;
	 background-repeat:no-repeat;
	 margin-bottom: 0px;
	 -webkit-border-radius:10px 0px 0px 0px;
  -moz-border-radius:10px 0px 0px 0px;
	 background-position: center center;

    }


	.card .content
     {
	 flex-basis: 100%;
	 background-color: whitesmoke;
	 padding: 20px;
     }

	.card .content h1
	{
		 color:hsl(212, 21%, 14%); 
		 margin-top: 0px;
		 padding-top: 0px;
		 font-weight: 500;
		 line-height: 25px;

	}

	

.card .content button 
{
	 background: hsl(158, 36%, 37%);
	 color: whitesmoke;
	 padding: 10px 65px;
	 font-size:18;
	 outline: none;
	 border-radius:6px;
	 border: none;
	 text-align: center;
	 margin-top: 20px;
}


}

.card .content span 
{
	 font-size: 28px;
     color: hsl(158, 36%, 37%);
	 padding-right: 12px;
	 font-weight: bold;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.card .content h5 
{
	 font-size: 18px;
	 color:hsl(228, 12%, 48%);
	 letter-spacing:7px ;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
  }
.card .content h1
{
	 color:hsl(212, 21%, 14%); 
	 margin-top: 0px;
	 padding-top: 0px;
	 font-weight: 500;
	 line-height: 25px;

}
.card .content p 
{
	justify-content: center;
	text-align: justify;
	line-height: 18px;
	color:hsl(228, 12%, 48%);
}

.card .content del 
{
	color:hsl(228, 12%, 48%);
} 

.card .content button 
{
	 background: hsl(158, 36%, 37%);
	 color: whitesmoke;
	 padding: 10px 55px;
	 font-size: 20px;
	 outline: none;
	 border-radius:6px;
	 border: none;
	 text-align: center;
	 margin-top: 20px;
}

